body {
    background-color: rgba(37, 37, 50, 0.449);
    min-width: fit-content;
    min-height: fit-content;
    display: flex;
    padding: 0px 100px;
    align-items: center;
    padding-top: 90px;
}


select {
    /* appearance: none; */
    padding: 2px 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 15px 7px;
    width: 100px;
    display: inline-block;
    
}

button {
    border-radius: 5px;
    width: 300px;
    height: 50px;
    margin: 0px auto;
    margin-bottom: 10px;
    /* box-shadow: 10px 11px 0px -2px #201a1ae6; */
    transition: ease-out 0.5s ;
}
button:hover {
    box-shadow: 5px 7px 0px -2px #201a1ae6;
    transition: ease-out 0.5s ;
}

.timer, .alarm {
    display:flex ;
    background-color: rgba(255, 255, 255, 0.507);
    width: 380px;
    height: 540px;
    flex-wrap: wrap;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin: 0px auto;
    margin-top: 20px;
    padding-bottom: 10px;
}


.img {
    margin: 0px 100px;
}

h3 {
    font-size: 42px;
    font-weight: 500;
    letter-spacing: 5px;
    margin-left: 0px auto;
    grid-column: 1/4;
    grid-row: 2;
}

.clock {
    background-color: rgba(255, 255, 255, 0.855);
    padding: 5px 15px;
    border: 2px black solid;
    border-radius: 25px;
    letter-spacing: 1px;
    font-weight: 500;
    grid-row: 1;
    grid-column: 1/4;
    margin-top: 20px;   
}

.alarm {
    height: 400px;
    width: 430px;
    display: grid;
    grid-template-rows: repeat(5,70px);
    grid-template-columns: repeat(3, 110px);    
    grid-gap: 10px;
}




#hour, #minutes, .ampm {
    grid-row-start: 3;
}

.set-alarm {
    grid-column: 1/4;
    grid-row: 4;
}

.stop-alarm {
    grid-column: 1/4;
    grid-row: 5;
}

.alarm {
    justify-items: center
}

#countdown {
    background-color: white;
    border: 2px solid black;
    border-radius: 25px;
    padding: 5px 25px;
    font-size: 19px;
    height: 40px;
    margin-top: 10px;
    font-weight: 500;
    letter-spacing: 1.7px;
}